
body {
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
background-color:#FFFFFF
;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


p, h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.header-navigation {
    display: flex;
    margin-right: 332px;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
    
    
}

.header-logo-span {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42 ;

    } 
    
    .header-menu-list {
        display: flex;
        gap: 40px;
        margin-left: auto;
        
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    
     
     
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-link:hover {
font-size: 12px;
line-height: 133%;
letter-spacing: 0.04em;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #404bbf;
}

.header-menu-link:focus {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #404bbf;   
}

.header-address {
    font-style: normal;
    display: flex;
}

.header-address-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-address-item {
   
}

.header-address-link { 
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;   
}

.header-address-link:hover {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #404bbf;  
}

.header-address-link:focus {
    color: #404bbf  
}

.hero {
    background-color:#2e2f42 ;
    padding-top: 188px;
    padding-bottom: 188px;

}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    
     
}

.hero-btn {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff; 
    background-color:#4D5AE5 ;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}

.hero-btn:hover {
    background-color: #404BBF;  
}

.hero-btn:focus {
    background-color:#404BBF ;
}

.feature {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/*!.feature-title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

} */

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3 * 24px ) / 4);
}

.feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
       
}

.feature-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
       
}

.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
       
}

.team-list { 
    display: flex;
    gap: 24px;
   
   
}

.team-item {
background-color: #FFFFFF; 
border-radius: 0 0 4px 4px;
width: calc((100% - 3 * 24px) / 4);
       
}

.team-image {
    margin: 0 auto;
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;

}

.team-item-text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;


}

.team-div {
 padding-top: 32px;
 padding-bottom: 32px;
}

img {
    display: block;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
}

  .portfolio-image {
    margin: 0 auto;
    
  } 

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;  
    margin-bottom: 8px;
    

} 


.portfolio-text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;

}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
   
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
       
}

.footer-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
       
}

.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
       
}
